.inputInput {
  border-radius: 5px;
  border: 1px solid #999;
  display: flex;
  flex: 2;
  font-size: 16px;
  min-width: 0;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}
