.Button__root {
  background-color: #eee;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;

  &:hover {
    background-color: #ddd;
  }
}

.Button__small {
  font-size: 13px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.Button__disabled {
  cursor: not-allowed;

  &:hover {
    background-color: #eee;
  }
}
