.disabled {
  opacity: 0.2 !important;
}

.bg-color {
  background-image: url(../../images/icons/bg-color.svg);
}

.bold {
  background-image: url(../../../shared/icons/basic/text-bold.svg);
}

.bullet,
.bullet-list {
  background-image: url(../../images/icons/list-ul.svg);
}

.bucket {
  background-image: url(../../images/icons/paint-bucket.svg);
}

.caret-right {
  background-image: url(../../images/icons/caret-right-fill.svg);
}

.center-align {
  background-image: url(../../images/icons/text-center.svg);
}

.check,
.check-list {
  background-image: url(../../images/icons/square-check.svg);
}

.chevron-down {
  background-image: url(../../images/icons/chevron-down.svg);
}

.clear {
  background-image: url(../../images/icons/trash.svg);
}

.close {
  background-image: url(../../images/icons/close.svg);
}

.copy {
  background-image: url(../../images/icons/copy.svg);
}

.dropdown-more {
  background-image: url(../../images/icons/dropdown-more.svg);
}

.font-color {
  background-image: url(../../images/icons/font-color.svg);
}

.font-family {
  background-image: url(../../images/icons/font-family.svg);
}

.h1 {
  background-image: url(../../images/icons/type-h1.svg);
}

.h2 {
  background-image: url(../../images/icons/type-h2.svg);
}

.h3 {
  background-image: url(../../images/icons/type-h3.svg);
}

.h4 {
  background-image: url(../../images/icons/type-h4.svg);
}

.h5 {
  background-image: url(../../images/icons/type-h5.svg);
}

.h6 {
  background-image: url(../../images/icons/type-h6.svg);
}

.horizontal-rule {
  background-image: url(../../images/icons/horizontal-rule.svg);
}

.image {
  background-image: url(../../images/icons/file-image.svg);
}

.image {
  background-image: url(../../images/icons/file-image.svg);
}

.indent {
  background-image: url(../../images/icons/indent.svg);
}

.italic {
  background-image: url(../../../shared/icons/basic/text-italic.svg);
}

.justify-align {
  background-image: url(../../images/icons/justify.svg);
}

.left-align {
  background-image: url(../../images/icons/text-left.svg);
}

.link {
  background-image: url(../../../shared/icons/basic/link.svg);
}

.number,
.numbered-list {
  background-image: url(../../images/icons/list-ol.svg);
}

.outdent {
  background-image: url(../../images/icons/outdent.svg);
}

.palette {
  background-image: url(../../images/icons/palette.svg);
}

.paragraph {
  background-image: url(../../images/icons/text-paragraph.svg);
}

.plus {
  background-image: url(../../images/icons/plus.svg);
}

.quote {
  background-image: url(../../images/icons/chat-square-quote.svg);
}

.redo {
  background-image: url(../../../shared/icons/arrows/arrow-redo.svg);
}

.right-align {
  background-image: url(../../images/icons/text-right.svg);
}

.strikethrough {
  background-image: url(../../images/icons/type-strikethrough.svg);
}

.subscript {
  background-image: url(../../images/icons/type-subscript.svg);
}

.success {
  background-image: url(../../images/icons/success.svg);
}

.superscript {
  background-image: url(../../images/icons/type-superscript.svg);
}

.table {
  background-image: url(../../images/icons/table.svg);
}

.underline {
  background-image: url(../../../shared/icons/basic/text-underline.svg);
}

.undo {
  background-image: url(../../../shared/icons/arrows/arrow-undo.svg);
}

.user {
  background-image: url(../../images/icons/user.svg);
}
