.icon {
  background-size: 20px;
  fill: #545cff;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.bracketsIcon {
  background-image: url("../../images/internal/shared/icons/various/brackets.svg");
}

.userIcon {
  background-image: url("../../images/internal/shared/icons/basic/user.svg");
}

.atSignIcon {
  background-image: url("../../images/internal/shared/icons/symbols/at-sign.svg");
}

.calendarDatesIcon {
  background-image: url("../../images/internal/shared/icons/time/calendar-dates.svg");
}
