.icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.paragraph {
  background-image: url(../images/icons/text-paragraph.svg);
}

.h1 {
  background-image: url(../images/icons/type-h1.svg);
}

.h2 {
  background-image: url(../images/icons/type-h2.svg);
}

.h3 {
  background-image: url(../images/icons/type-h3.svg);
}

.h4 {
  background-image: url(../images/icons/type-h4.svg);
}

.h5 {
  background-image: url(../images/icons/type-h5.svg);
}

.h6 {
  background-image: url(../images/icons/type-h6.svg);
}

.bullet,
.bullet-list {
  background-image: url(../images/icons/list-ul.svg);
}

.check-list,
.check {
  background-image: url(../images/icons/square-check.svg);
}

.numbered-list,
.number {
  background-image: url(../images/icons/list-ol.svg);
}

.quote {
  background-image: url(../images/icons/chat-square-quote.svg);
}

.code {
  background-image: url(../images/icons/code.svg);
}

.indent {
  background-image: url(../images/icons/indent.svg);
}

.outdent {
  background-image: url(../images/icons/outdent.svg);
}

.lock {
  background-image: url(../images/icons/lock-fill.svg);
}

.image {
  background-image: url(../images/icons/file-image.svg);
}

.table {
  background-image: url(../images/icons/table.svg);
}

.unlock {
  background-image: url(../images/icons/lock.svg);
}

.left-align {
  background-image: url(../images/icons/text-left.svg);
}

.center-align {
  background-image: url(../images/icons/text-center.svg);
}

.right-align {
  background-image: url(../images/icons/text-right.svg);
}

.justify-align {
  background-image: url(../images/icons/justify.svg);
}

.disconnect {
  background-image: url(../images/icons/plug.svg);
}

.connect {
  background-image: url(../images/icons/plug-fill.svg);
}

i.palette {
  background-image: url(../images/icons/palette.svg);
}

i.bucket {
  background-image: url(../images/icons/paint-bucket.svg);
}

i.bold {
  background-image: url(../images/icons/type-bold.svg);
}

i.italic {
  background-image: url(../images/icons/type-italic.svg);
}

i.clear {
  background-image: url(../images/icons/trash.svg);
}

i.code {
  background-image: url(../images/icons/code.svg);
}

i.underline {
  background-image: url(../images/icons/type-underline.svg);
}

i.strikethrough {
  background-image: url(../images/icons/type-strikethrough.svg);
}

i.subscript {
  background-image: url(../images/icons/type-subscript.svg);
}

i.superscript {
  background-image: url(../images/icons/type-superscript.svg);
}

i.link {
  background-image: url(../images/icons/link.svg);
}

i.horizontal-rule {
  background-image: url(../images/icons/horizontal-rule.svg);
}

.plus {
  background-image: url(../images/icons/plus.svg);
}

.caret-right {
  background-image: url(../images/icons/caret-right-fill.svg);
}

.dropdown-more {
  background-image: url(../images/icons/dropdown-more.svg);
}

.font-color {
  background-image: url(../images/icons/font-color.svg);
}

.font-family {
  background-image: url(../images/icons/font-family.svg);
}

.bg-color {
  background-image: url(../images/icons/bg-color.svg);
}

.image {
  background-image: url(../images/icons/file-image.svg);
}

.close {
  background-image: url(../images/icons/close.svg);
}

.poll {
  background-image: url(../images/icons/card-checklist.svg);
}

.youtube {
  background-image: url(../images/icons/youtube.svg);
}

.left-align,
.left-align {
  background-image: url(../images/icons/text-left.svg);
}

.center-align {
  background-image: url(../images/icons/text-center.svg);
}

.right-align {
  background-image: url(../images/icons/text-right.svg);
}

.justify-align {
  background-image: url(../images/icons/justify.svg);
}

.indent {
  background-image: url(../images/icons/indent.svg);
}

.markdown {
  background-image: url(../images/icons/markdown.svg);
}

.outdent {
  background-image: url(../images/icons/outdent.svg);
}

.undo {
  background-image: url(../images/icons/arrow-counterclockwise.svg);
}

.redo {
  background-image: url(../images/icons/arrow-clockwise.svg);
}

.sticky {
  background-image: url(../images/icons/sticky.svg);
}

.mic {
  background-image: url(../images/icons/mic.svg);
}

.import {
  background-image: url(../images/icons/upload.svg);
}

.export {
  background-image: url(../images/icons/download.svg);
}

.diagram-2 {
  background-image: url(../images/icons/diagram-2.svg);
}

.user {
  background-image: url(../images/icons/user.svg);
}

.copy {
  background-image: url(../images/icons/copy.svg);
}

.success {
  background-image: url(../images/icons/success.svg);
}

.prettier {
  background-image: url(../images/icons/prettier.svg);
}

.prettier-error {
  background-image: url(../images/icons/prettier-error.svg);
}

i.chevron-down {
  background-image: url(../images/icons/chevron-down.svg);
}
