.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 20px;
  line-height: 16px;
  margin-right: 8px;
  user-select: none;
  width: 20px;
}
