.horizontalRule {
  border: none;
  cursor: pointer;
  margin: 1em 0;
  padding: 2px 2px;

  &:after {
    background-color: #ccc;
    content: "";
    display: block;
    height: 2px;
    line-height: 2px;
  }

  &.selected {
    outline: 2px solid #3c84f4;
    user-select: none;
  }
}
