.imageNodeContentEditable {
  border: 0px;
  caret-color: rgb(5, 5, 5);
  cursor: text;
  display: block;
  font-size: 12px;
  min-height: 20px;
  outline: 0px;
  padding: 10px;
  position: relative;
  resize: none;
  user-select: text;
  white-space: pre-wrap;
  width: calc(100% - 20px);
  word-break: break-word;
}

.imageNodePlaceholder {
  color: #888;
  display: inline-block;
  font-size: 12px;
  left: 10px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  user-select: none;
  white-space: nowrap;
}

.imageCaptionContainer {
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  color: #000;
  overflow: hidden;
}
