.InlineImageNode__contentEditable {
  border: 0px;
  caret-color: rgb(5, 5, 5);
  cursor: text;
  display: block;
  font-size: 14px;
  line-height: 1.4em;
  min-height: 20px;
  outline: 0px;
  padding: 10px;
  position: relative;
  resize: none;
  tab-size: 1;
  user-select: text;
  white-space: pre-wrap;
  width: calc(100% - 20px);
  word-break: break-word;
}

.InlineImageNode__placeholder {
  bottom: 10px;
  color: #888;
  display: inline-block;
  font-size: 12px;
  left: 10px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.image-caption-container {
  display: block;
  background-color: #f4f4f4;
  min-width: 100%;
  color: #000;
  overflow: hidden;
}
