.composer pre {
  line-height: 1.1;
  background: #222;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  overflow: auto;
  max-height: 400px;
}

.composer pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.composer pre::-webkit-scrollbar-thumb {
  background: #999;
}

.composer .typeahead-popover {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 25px;
}

.composer .typeahead-popover ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: scroll;
}

.composer .typeahead-popover ul::-webkit-scrollbar {
  display: none;
}

.composer .typeahead-popover ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.composer .typeahead-popover ul li {
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.composer .typeahead-popover ul li.selected {
  background: #eee;
}

.composer .typeahead-popover li {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
}

.composer .typeahead-popover li.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.composer .typeahead-popover li:first-child {
  border-radius: 8px 8px 0px 0px;
}

.composer .typeahead-popover li:last-child {
  border-radius: 0px 0px 8px 8px;
}

.composer .typeahead-popover li:hover {
  background-color: #eee;
}

.composer .typeahead-popover li .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.composer .typeahead-popover li .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.composer .mentions-menu {
  width: 250px;
}

.composer .auto-embed-menu {
  width: 150px;
}

.composer i.palette {
  background-image: url(images/icons/palette.svg);
}

.composer i.bucket {
  background-image: url(images/icons/paint-bucket.svg);
}

.composer i.bold {
  background-image: url(images/icons/type-bold.svg);
}

.composer i.italic {
  background-image: url(images/icons/type-italic.svg);
}

.composer i.clear {
  background-image: url(images/icons/trash.svg);
}

.composer i.code {
  background-image: url(images/icons/code.svg);
}

.composer i.underline {
  background-image: url(images/icons/type-underline.svg);
}

.composer i.strikethrough {
  background-image: url(images/icons/type-strikethrough.svg);
}

.composer i.subscript {
  background-image: url(images/icons/type-subscript.svg);
}

.composer i.superscript {
  background-image: url(images/icons/type-superscript.svg);
}

.composer i.link {
  background-image: url(images/icons/link.svg);
}

.composer i.horizontal-rule {
  background-image: url(images/icons/horizontal-rule.svg);
}

.composer .icon.plus {
  background-image: url(images/icons/plus.svg);
}

.composer .icon.caret-right {
  background-image: url(images/icons/caret-right-fill.svg);
}

.composer .icon.dropdown-more {
  background-image: url(images/icons/dropdown-more.svg);
}

.composer .icon.font-color {
  background-image: url(images/icons/font-color.svg);
}

.composer .icon.font-family {
  background-image: url(images/icons/font-family.svg);
}

.composer .icon.bg-color {
  background-image: url(images/icons/bg-color.svg);
}

.composer .icon.table {
  background-color: #6c757d;
  mask-image: url(images/icons/table.svg);
  -webkit-mask-image: url(images/icons/table.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.composer i.image {
  background-image: url(images/icons/file-image.svg);
}

.composer i.table {
  background-image: url(images/icons/table.svg);
}

.composer i.close {
  background-image: url(images/icons/close.svg);
}

.composer i.poll {
  background-image: url(images/icons/card-checklist.svg);
}

.composer i.youtube {
  background-image: url(images/icons/youtube.svg);
}

.composer .icon.left-align,
.composer i.left-align {
  background-image: url(images/icons/text-left.svg);
}

.composer i.center-align {
  background-image: url(images/icons/text-center.svg);
}

.composer i.right-align {
  background-image: url(images/icons/text-right.svg);
}

.composer i.justify-align {
  background-image: url(images/icons/justify.svg);
}

.composer i.indent {
  background-image: url(images/icons/indent.svg);
}

.composer i.markdown {
  background-image: url(images/icons/markdown.svg);
}

.composer i.outdent {
  background-image: url(images/icons/outdent.svg);
}

.composer i.undo {
  background-image: url(images/icons/arrow-counterclockwise.svg);
}

.composer i.redo {
  background-image: url(images/icons/arrow-clockwise.svg);
}

.composer i.sticky {
  background-image: url(images/icons/sticky.svg);
}

.composer i.mic {
  background-image: url(images/icons/mic.svg);
}

.composer i.import {
  background-image: url(images/icons/upload.svg);
}

.composer i.export {
  background-image: url(images/icons/download.svg);
}

.composer i.diagram-2 {
  background-image: url(images/icons/diagram-2.svg);
}

.composer i.user {
  background-image: url(images/icons/user.svg);
}

.composer i.copy {
  background-image: url(images/icons/copy.svg);
}

.composer i.success {
  background-image: url(images/icons/success.svg);
}

.composer i.prettier {
  background-image: url(images/icons/prettier.svg);
}

.composer i.prettier-error {
  background-image: url(images/icons/prettier-error.svg);
}

.compose .link-editor .button.active,
.toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

.compose .link-editor .link-input {
  display: block;
  width: calc(100% - 75px);
  box-sizing: border-box;
  margin: 12px 12px;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: #eee;
  font-size: 15px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.compose .link-editor .link-view {
  display: block;
  width: calc(100% - 24px);
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 15px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.compose .link-editor .link-view a {
  display: block;
  word-break: break-word;
  width: calc(100% - 33px);
}

.compose .link-editor div.link-edit {
  background-image: url(images/icons/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.compose .link-editor div.link-trash {
  background-image: url(images/icons/trash.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.compose .link-editor div.link-cancel {
  background-image: url(images/icons/close.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  margin-right: 28px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.compose .link-editor div.link-confirm {
  background-image: url(images/icons/success-alt.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  margin-right: 2px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.compose .link-editor .link-input a {
  color: rgb(33, 111, 219);
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.compose .link-editor .link-input a:hover {
  text-decoration: underline;
}

.compose .link-editor .font-size-wrapper,
.compose .link-editor .font-family-wrapper {
  display: flex;
  margin: 0 4px;
}

.link-editor select {
  padding: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

.mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}

.dropdown {
  z-index: 10;
  display: block;
  position: fixed;
  box-shadow:
    0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  min-height: 40px;
  background-color: #fff;
}

.dropdown .item {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  max-width: 250px;
  min-width: 100px;
}

.dropdown .item.fontsize-item,
.dropdown .item.fontsize-item .text {
  min-width: unset;
}

.dropdown .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.dropdown .item:first-child {
  margin-top: 8px;
}

.dropdown .item:last-child {
  margin-bottom: 8px;
}

.dropdown .item:hover {
  background-color: #eee;
}

.dropdown .item .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown .divider {
  width: auto;
  background-color: #eee;
  margin: 4px 8px;
  height: 1px;
}

@media screen and (max-width: 1100px) {
  .dropdown-button-text {
    display: none !important;
  }

  .font-size .dropdown-button-text {
    display: flex !important;
  }

  .code-language .dropdown-button-text {
    display: flex !important;
  }
}

.composer .icon.paragraph {
  background-image: url(images/icons/text-paragraph.svg);
}

.composer .icon.h1 {
  background-image: url(images/icons/type-h1.svg);
}

.composer .icon.h2 {
  background-image: url(images/icons/type-h2.svg);
}

.composer .icon.h3 {
  background-image: url(images/icons/type-h3.svg);
}

.composer .icon.h4 {
  background-image: url(images/icons/type-h4.svg);
}

.composer .icon.h5 {
  background-image: url(images/icons/type-h5.svg);
}

.composer .icon.h6 {
  background-image: url(images/icons/type-h6.svg);
}

.composer .icon.bullet-list,
.composer .icon.bullet {
  background-image: url(images/icons/list-ul.svg);
}

.composer .icon.check-list,
.composer .icon.check {
  background-image: url(images/icons/square-check.svg);
}

.composer .icon.numbered-list,
.composer .icon.number {
  background-image: url(images/icons/list-ol.svg);
}

.composer .icon.quote {
  background-image: url(images/icons/chat-square-quote.svg);
}

.composer .icon.code {
  background-image: url(images/icons/code.svg);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.compose .editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

.compose .editor-image img {
  max-width: 100%;
  cursor: default;
}

.compose .editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.compose .editor-image img.focused.draggable {
  cursor: grab;
}

.compose .editor-image img.focused.draggable:active {
  cursor: grabbing;
}

.compose .editor-image .image-caption-container {
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  color: #000;
  overflow: hidden;
}

.compose .editor-image .image-caption-button {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.compose .editor-image .image-caption-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.compose .editor-image .image-edit-button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-image: url(/src/images/icons/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  user-select: none;
}

.compose .editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.1);
}

.compose .editor-image .image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.compose .editor-image .image-resizer.image-resizer-n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

.compose .editor-image .image-resizer.image-resizer-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.compose .editor-image .image-resizer.image-resizer-e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

.compose .editor-image .image-resizer.image-resizer-se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

.compose .editor-image .image-resizer.image-resizer-s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

.compose .editor-image .image-resizer.image-resizer-sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

.compose .editor-image .image-resizer.image-resizer-w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

.compose .editor-image .image-resizer.image-resizer-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

.composer .inline-editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.composer .inline-editor-image img {
  max-width: 100%;
  cursor: default;
}

.composer .inline-editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
}

.composer .inline-editor-image img.focused.draggable {
  cursor: grab;
}

.composer .inline-editor-image img.focused.draggable:active {
  cursor: grabbing;
}

.composer .inline-editor-image.position-full {
  margin: 1em 0 1em 0;
}

.composer .inline-editor-image.position-left {
  float: left;
  width: 50%;
  margin: 1em 1em 0 0;
}

.composer .inline-editor-image.position-right {
  float: right;
  width: 50%;
  margin: 1em 0 0 1em;
}

.composer .inline-editor-image .image-edit-button {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 8px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.composer .inline-editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.composer .inline-editor-image .image-caption-container {
  display: block;
  background-color: #f4f4f4;
  min-width: 100%;
  color: #000;
  overflow: hidden;
}

.composer .emoji {
  color: transparent;
  caret-color: rgb(5, 5, 5);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 -1px;
}

.composer .emoji-inner {
  padding: 0 0.15em;
}

.composer .emoji-inner::selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}

.composer .emoji-inner::moz-selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}

.composer .emoji.happysmile {
  background-image: url(images/emoji/1F642.png);
}

.composer .emoji.veryhappysmile {
  background-image: url(images/emoji/1F600.png);
}

.composer .emoji.unhappysmile {
  background-image: url(images/emoji/1F641.png);
}

.composer .emoji.heart {
  background-image: url(images/emoji/2764.png);
}

.composer .keyword {
  color: rgb(241, 118, 94);
  font-weight: bold;
}

.composer .actions {
  position: absolute;
  text-align: right;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.composer .actions i {
  background-size: contain;
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: -0.25em;
}

.composer .actions i.indent {
  background-image: url(images/icons/indent.svg);
}

.composer .actions i.outdent {
  background-image: url(images/icons/outdent.svg);
}

.composer .actions i.lock {
  background-image: url(images/icons/lock-fill.svg);
}

.composer .actions i.image {
  background-image: url(images/icons/file-image.svg);
}

.composer .actions i.table {
  background-image: url(images/icons/table.svg);
}

.composer .actions i.unlock {
  background-image: url(images/icons/lock.svg);
}

.composer .actions i.left-align {
  background-image: url(images/icons/text-left.svg);
}

.composer .actions i.center-align {
  background-image: url(images/icons/text-center.svg);
}

.composer .actions i.right-align {
  background-image: url(images/icons/text-right.svg);
}

.composer .actions i.justify-align {
  background-image: url(images/icons/justify.svg);
}

.composer .actions i.disconnect {
  background-image: url(images/icons/plug.svg);
}

.composer .actions i.connect {
  background-image: url(images/icons/plug-fill.svg);
}

i.chevron-down {
  background-color: transparent;
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
  background-image: url(images/icons/chevron-down.svg);
}

.action-button-mic.active {
  animation: mic-pulsate-color 3s infinite;
}

@keyframes mic-pulsate-color {
  0% {
    background-color: #ffdcdc;
  }

  50% {
    background-color: #ff8585;
  }

  100% {
    background-color: #ffdcdc;
  }
}

.composer .connecting {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}

.composer .ltr {
  text-align: left;
}

.composer .rtl {
  text-align: right;
}

.toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  overflow: auto;
  height: 36px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled .icon,
.toolbar button.toolbar-item:disabled .text,
.toolbar button.toolbar-item:disabled i.format,
.toolbar button.toolbar-item:disabled .chevron-down {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .toolbar-item.font-family .text {
  display: block;
  max-width: 40px;
}

.toolbar .code-language {
  width: 150px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  text-align: left;
  padding-right: 10px;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.composer .spacer {
  letter-spacing: -2px;
}

.composer button.item i {
  opacity: 0.6;
}

.composer button.item.dropdown-item-active {
  background-color: rgba(223, 232, 250, 0.3);
}

.composer button.item.dropdown-item-active i {
  opacity: 1;
}

.composer hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}

.composer hr:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}

.composer hr.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.composer .ComposerTheme__blockCursor {
  display: block;
  pointer-events: none;
  position: absolute;
}

.composer .ComposerTheme__blockCursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: CursorBlink 1.1s steps(2, start) infinite;
}

@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}
