.editorShell {
  border-radius: 2px;
  color: #000;
  font-weight: 400;
  line-height: 1.7;
  max-width: 1100px;
  position: relative;
}

.chevronDown {
  background-color: transparent;
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
}
