pre {
  background: #222;
  color: #fff;
  font-size: 12px;
  line-height: 1.1;
  margin: 0;
  max-height: 400px;
  overflow: auto;
  padding: 10px;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

.mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}

@media screen and (max-width: 1100px) {
  .font-size .dropdown-button-text {
    display: flex !important;
  }

  .code-language .dropdown-button-text {
    display: flex !important;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.composer__editorImage {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

.composer__editorImage img {
  cursor: default;
  max-width: 100%;
}

.composer__editorImage img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.composer__editorImage img.focused.draggable {
  cursor: grab;
}

.composer__editorImage img.focused.draggable:active {
  cursor: grabbing;
}

.composer__editorImage .image-resizer {
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
  display: block;
  height: 7px;
  position: absolute;
  width: 7px;
}

.composer__inlineEditorImage {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.composer__inlineEditorImage img {
  cursor: default;
  max-width: 100%;
}

.composer__inlineEditorImage img.focused {
  outline: 2px solid rgb(60, 132, 244);
}

.composer__inlineEditorImage img.focused.draggable {
  cursor: grab;
}

.composer__inlineEditorImage img.focused.draggable:active {
  cursor: grabbing;
}

.composer__inlineEditorImage.position-full {
  margin: 1em 0 1em 0;
}

.composer__inlineEditorImage.position-left {
  float: left;
  margin: 1em 1em 0 0;
  width: 50%;
}

.composer__inlineEditorImage.position-right {
  float: right;
  margin: 1em 0 0 1em;
  width: 50%;
}

.emoji {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  caret-color: rgb(5, 5, 5);
  color: transparent;
  margin: 0 -1px;
  vertical-align: middle;
}

.emoji.happysmile {
  background-image: url(images/emoji/1F642.png);
}

.emoji.veryhappysmile {
  background-image: url(images/emoji/1F600.png);
}

.emoji.unhappysmile {
  background-image: url(images/emoji/1F641.png);
}

.emoji.heart {
  background-image: url(images/emoji/2764.png);
}

.keyword {
  color: rgb(241, 118, 94);
  font-weight: bold;
}

.actions {
  bottom: 0;
  margin: 10px;
  position: absolute;
  right: 0;
  text-align: right;
}

.actions i {
  background-size: contain;
  display: inline-block;
  height: 15px;
  vertical-align: -0.25em;
  width: 15px;
}

i.chevron-down {
  background-color: transparent;
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
}

@keyframes mic-pulsate-color {
  0% {
    background-color: #ffdcdc;
  }

  50% {
    background-color: #ff8585;
  }

  100% {
    background-color: #ffdcdc;
  }
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.spacer {
  letter-spacing: -2px;
}

button.item i {
  opacity: 0.6;
}

button.item.dropdown-item-active {
  background-color: rgba(223, 232, 250, 0.3);
}

button.item.dropdown-item-active i {
  opacity: 1;
}

hr {
  border: none;
  cursor: pointer;
  margin: 1em 0;
  padding: 2px 2px;
}

hr:after {
  background-color: #ccc;
  content: "";
  display: block;
  height: 2px;
  line-height: 2px;
}

hr.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}

/* Styles that need to stay in css */

/* blockCursor */
.composer__blockCursor {
  display: block;
  pointer-events: none;
  position: absolute;
}

.composer__blockCursor:after {
  animation: CursorBlink 1.1s steps(2, start) infinite;
  border-top: 1px solid black;
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
}

/* Emoji */
.composer__emojiInner {
  padding: 0 0.15em;
}

.composer__emojiInner::selection {
  background-color: rgba(150, 150, 150, 0.4);
  color: transparent;
}

.composer__emojiInner::moz-selection {
  background-color: rgba(150, 150, 150, 0.4);
  color: transparent;
}

/* ImageNode */
.composer__imageResizer {
  touch-action: none;
}
