.merge-field {
  align-items: center;
  color: #777d80;
  display: flex;
  display: inline-block;
  justify-content: center;

  span {
    color: #545cff;
  }
}

.title {
  color: inherit;
  margin: 0;
}
