.merge-field {
  border: solid 1px #545cff;
  display: inline-block;
  padding: 4px 8px;
  width: 200px;
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.svgIcon {
  margin-right: 5px;
}

.buttonClose {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
}

.title {
  margin: 0;
  user-select: none;
}
