.merge-field {
  align-items: center;
  display: flex;
  display: inline-block;
  justify-content: center;

  span {
    color: #545cff;
    font-size: 20px;
  }
}

.svgIcon {
  margin-right: 5px;
}

.buttonClose {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
}

.title {
  color: #777d80;
  margin: 0;
  user-select: none;
}
