.typeaheadPopover {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 25px;

  ul {
    -ms-overflow-style: none;
    border-radius: 8px;
    list-style: none;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      align-content: center;
      background: #fff;
      border-radius: 8px;
      border: 0;
      color: #050505;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      font-size: 14px;
      line-height: 16px;
      margin: 0;
      min-width: 180px;
      outline: none;
      padding: 8px;

      &:first-child {
        border-radius: 8px 8px 0px 0px;
      }

      &:last-child {
        border-radius: 0px 0px 8px 8px;
      }

      &:hover {
        background: #eee;
      }
    }
  }
}

.text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.selected {
  background: #eee;
}

.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}
